.myaccount__logo {
  width: 150px;
  height: 150px;
  background-color: gray;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  color: white;
  border-radius: 100%;
}
