@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables */
.root,
#root,
body,
#docs-root {
  --primary-color: #87ceeb;
  --secondary-color: #f0f8ff;
  --tertiary-color: #191970;
  --light-color: #d3d3d3;
  --orange-color: #ffa500;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;

  display: flex;
  flex-direction: column;
}

.css-5h0xqb-MuiBackdrop-root {
  z-index: 1301 !important;
}

#root {
  min-height: 100vh;
  overflow: hidden;
}
